@{
    ViewData["Title"] = "Home Page";
}

<div class="pagetitle">
    <h2>Inicio</h2>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <h3>Bienvenido Unidad Recidencial</h3>
</section>
