@model UnidadResidencial.Web.DTOs.SectionDTO
@{
    ViewData["Title"] = "Detalle de la sección";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Secciones</a></li>
            <li class="breadcrumb-item active">Detalle sección</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="card">
        <div class="card-header">
            <h3 class="m-0 font-weight-bold text-primary">Detalle de la sección</h3>
        </div>

        <div class="card-body mt-3">
            <dl class="row">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">Descripción</dt>
                <dd class="col-sm-9">@Model.Description</dd>
            </dl>

            <div class="text-center mt-3">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</section>
